<template>
    <div>
        <h1 class="text-center mb-1">SPA для рейсов</h1>

        <p class="text-center mb-4">
            <router-link :to="{ name: 'home' }">Главная</router-link>
            |
            <router-link :to="{ name: 'admin' }">Панель администратора</router-link>
        </p>

        <router-view></router-view>

    </div>
</template>
<script>
    export default {}
</script>
<style>
    .router-link-exact-active{
        color: #fe4163
    }
</style>