<template>

    <b-container>
    <b-row v-if="error">
        <b-col md="6" offset-md="3">
            <b-alert show variant="danger">Ошибка загрузки</b-alert>
            <b-button @click="fetchData">Попробовать еще</b-button>
        </b-col>
    </b-row>
    <div class="loader-overlay" v-if="isLoading">
        <div class="loader"></div>
    </div>
    <div v-if="!error">
        <b-row class="mb-3 mt-2">
            <b-col md="2">
                <b-form-input v-model="cityFromFilter" placeholder="Город вылета"/>
            </b-col>
            <b-col md="3">
                <b-form-select
                        v-model="statusFilter"
                        :options="statuses"
                        class="mb-3"
                        placeholder="Статус"
                >
                    <template slot="first">
                        <option :value="null" selected disabled>-- Выберите статус --</option>
                    </template>
                </b-form-select>
            </b-col>
            <b-col md="2">
                <b-button :variant="'primary'" @click="resetFilters">Сбросить всё</b-button>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-table
                        striped hover bordered small
                        :items="filteredFields"
                        :fields="fields"
                        :currentPage="currentPage"
                        :per-page="perPage"
                        @filtered="onFiltered"
                >
                    <template slot="factTime" slot-scope="data">
                        {{moment(data.value).format('HH:mm')}}
                    </template>
                    <template slot="planTime" slot-scope="data">
                        {{moment(data.value).format('DD MMM HH:mm')}}
                    </template>

                </b-table>
            </b-col>
        </b-row>
        <b-row align-h="between">
            <b-col cols="4">
                <b-pagination
                    :total-rows="totalRows"
                    :per-page="perPage"
                    v-model="currentPage"
                    class="my-0"
                />
            </b-col>
            <b-col cols="4" class="text-right">
                Всего {{totalRows}}
            </b-col>
        </b-row>
    </div>
</b-container>
</template>

<script>
    var moment = require('moment');
    moment.locale('ru');
    const statuses = ["Вылетел", "Приземлился", "Идёт посадка", "Задержан"];
    const apiUrl = '/api/flights';
    export default {
        name: 'FlightList',
        mounted() {
            this.fetchData()
        },
        props: ['fields'],
        data() {
            return {
                moment,
                error: null,
                statuses,
                apiUrl,
                items: [],
                currentPage: 1,
                perPage: 10,
                totalRows: 0,
                cityFromFilter: null,
                statusFilter: null,
                isLoading: true
            }
        },
        methods: {
            onFiltered(filteredItems) {
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },
            resetFilters() {
                this.cityFromFilter = null;
                this.statusFilter = null
            },
            fetchData() {
                //ошибки загрузки и статус обновляются
                this.error = false
                this.isLoading = true

                //пытаемся получить данные по заданному url
                axios.get(this.apiUrl)
                    .then(response => {
                        this.items = response.data
                        this.totalRows = response.data.length
                        this.isLoading = false
                    })
                    .catch(error => {
                        this.error = true
                        this.isLoading = false

                    });
            },
            editFlight(flight){

            }
        },
        computed: {
            filteredFields() {

                return this.items
                    .filter((item, index) => {
                        //проверка случая без фильтров => вовзращаюся все элементы
                        if (!this.cityFromFilter && !this.statusFilter)
                            return true;

                        //проверка без фильтра города => возвращаются с фильтрацией по статусу
                        if (!this.cityFromFilter)
                            return (item.status === this.statusFilter)

                        //проверка без фильтра статуса =>возвращаются с фильтрацией по городу
                        if (!this.statusFilter)
                            return (item.cityFrom.indexOf(this.cityFromFilter) > -1)

                        //фильтрация по всем фильтрам
                        return (item.status === this.statusFilter
                            && item.cityFrom.indexOf(this.cityFromFilter) > -1)
                    })


            },
        },

    }
</script>

<style>
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .loader {
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #3498db;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    .loader-overlay {
        width: 100%;
        height: 100%;
        z-index: 2;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1140px;
        max-height: 360px;
    }
    .admin-icon{
        width:15px;
        cursor:pointer;
        margin: 5px;
    }

</style>